body{
	font-family: tahoma;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.cabecalho{
	font-size: 15px;
	text-decoration: underline;
	font-style: italic;
	text-align: right;
}
h1{
	font-size: 50px;
	color: white;
	background-color: green;
	font-weight: body; 
}
h2{
	font-size: 35px;
	color: white;
	background-color: green;
	font-style: italic;
}
p{
	font-size: 20px;
	text-align: justify;
}
.madruga{
	color: blue;
}
.maria{
	color: green;
}
.carlos{
	color: red;
}
#center{
	text-align: center;
}
.bordaquico{
border-style: double;
border-color: red;
border-width: 10px;
}
.bordamadruga{
border-style: double;
border-color: blue;
border-width: 10px;
}
.bordachiquinha{
border-style: double;
border-color: green;
border-width: 10px;
}